* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  margin: 2rem;
}

main {
  margin: 0 2rem;
}

h1 {
  font-size: 2rem;
  color: rgb(199, 0, 149);
}

form {
  margin: 0 0 1.5rem;
}

fieldset { 
  padding: .5rem;
}

.botoes {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

button {
  width: 33%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

button:hover {
  background-color: transparent;
}